<p><em>The most recent status reports for each host is shown here.</em></p>

<% hosts.each do |host| %>
  <h3><%= link_to host.hostname, [host.app, host.statuses.first] %></h3>
  <%= render partial: "status", locals: { status: host.statuses.first, header: false } %>
<% end %>
