<% @title = "Status reports for #{@app.name}" %>
<div class="page-header page-header-integrated">
  <h1>Status reports for <%= @app.name %></h1>
  <div class="back">
    <%= link_to "&laquo; Back to My Apps".html_safe, apps_path %>
  </div>
</div>

<% if @grouped_statuses.empty? %>
  <%= render partial: "intro" %>
<% else %>
  <%= render partial: "grouped_statuses", locals: { grouped_statuses: @grouped_statuses } %>
<% end %>
