<% @title = "Terms of service" %>
<h1>Terms of service</h1>
<p>
  The Passenger Status Service is a service provided by Phusion free of charge, for the purpose of making Passenger status reports work on Heroku. To use this service you must accept these terms and conditions.
</p>
<h2>We know terms of services are boring, but please, read it.</h2>
<ul>
  <li>Use of this service is <strong>at own risk</strong>. Phusion is neither responsible nor liable for the data that your server sends.</li>
  <li>Any data that you send to this service can be seen by us. We don't deliberately view the data to spy on people, but we <em>can</em> see the data e.g. for maintenance purposes. If you do not feel comfortable about this, do not use this service.</li>
  <li>We make a best effort to make this service secure, but we do not guarantee it. We cannot be held responsible if data leaks out, e.g. because of bugs. <%= link_to "Wondering what kind of data is sent?", controller: "welcome", action: "faq" %></li>
  <li>We make a best effort to make this service reliable, but sometimes the service may go down, either for maintenance.</li>
  <li>Don't abuse this service for anything it wasn't intended to be used for. We do not actively monitor this service, but if we find any abuse we will block the offenders.</li>
  <li>We have the right to deny this service to anyone for any reason.</li>
  <li>Dutch law applies to these terms and conditions.</li>
</ul>
<p>
  If you accept these terms and conditions then we hope you enjoy the Passenger Status Service. :-)
</p>
<p>
  <a href="javascript:void(history.back())">&laquo; Back to where I came from</a>
</p>