<table class="table table-striped table-resource-list">
<% apps.each do |app| %>
  <tr>
    <td class="name"><%= link_to app.name, app %></td>
    <td class="actions">
      <%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe,
            app, method: "delete", class: "btn btn-xs btn-danger",
            data: { confirm: "Are you sure? All data will be destroyed. THERE IS NO TURNING BACK!" } %>
    </td>
  </tr>
<% end %>
</table>

<p><%= link_to "Register another app", new_app_path, class: "btn btn-primary" %></p>
