<% if f.object.errors.any? %>
  <ul id="error_explanation">
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, class: "form-control" %>
</div>
