<div class="intro-container">
  <p>
    Please register your apps to get started. They will be displayed here.
  </p>
  <p>
    <%= link_to "Register an app", new_app_path, class: "btn btn-primary" %>
  </p>
</div>