<% @title = "Edit app" %>
<div class="page-header page-header-integrated">
  <h1>Edit app</h1>
  <div class="back">
    <%= link_to "&laquo; Back to My Apps".html_safe, apps_path %>
  </div>
</div>

<%= form_for(@app) do |f| %>
  <%= render partial: "form", locals: { f: f } %>

  <p class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </p>
<% end %>
